.single-article {
  grid-column: 1/4;
  border: solid 1px darkred;
  background-color: palevioletred;
  padding: 10px;
}

.article-votes {
  float: right;
  font-size: 20px;
}

.vote-button {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

#comment {
  height: 100px;
  width: 98%;
}

.article-comments {
  padding: 10px;
}
