.articles-box {
  grid-column: 1/4;
  padding: 10px;
  overflow: scroll;
  direction: rtl;
  background-color: #ffedae;
  border: #505d32 2px solid;
  border-radius: 5px;
  font-family: "Noto Sans", sans-serif;
  margin: 5px;
}

.articles-box h2 {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

.articles-box .article {
  background-color: #fbfef4;
  border: solid 1px #505d32;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
  transform: scale(1);
}

.articles-box .content {
  direction: ltr;
}

.articles-box .article:hover {
  transform: scale(1.02);
}

.articles-box .title-line > h3 {
  display: inline-block;
  margin: 0;
  max-width: 80%;
}

.footer-line .author {
  float: right;
}

.sort-menu {
  text-align: right;
  padding-bottom: 10px;
}

.sort-menu select {
  background-color: #d7dee2;
  border-radius: 5px;
  border: solid 1px #505d32;
  padding: 5px;
  outline: none;
  font-size: 16px;
  margin-left: 5px;
  height: 36px;
}

.sort-menu select option {
  background-color: #d7dee2;
  border-radius: 5px;
  border: solid 1px #505d32;
}

.article-card-date {
  display: block;
}
