.articles-box {
  padding: 10px;
}

.articles-box .article {
  border: solid 1px tan;
  margin-bottom: 30px;
}

.articles-box .title-line {
}

.articles-box .title-line > h4 {
  display: inline-block;
  margin: 0;
}

.articles-box .title-line span {
  float: right;
}

.footer-line {
  width: 100%;
  display: inline-block;
}

.footer-line .author {
  float: right;
}
