.users-box {
  grid-column: 4/5;
  grid-row: 1;
  text-align: center;
  height: 6em;
  font-family: "Noto Sans", sans-serif;
  background-color: #eaeef4;
  /* border: #c1cce0 2px solid; */
  border-radius: 5px;
  margin: 5px;
  padding: 5px 0px 0px 0px;
}

.users-box h3 {
  margin-bottom: 10px;
  margin-top: 15px;
}

.users-box form {
  padding: 10px;
}

.users-box form input {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 100px;
  margin-right: 5px;
}

.users-box form button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 70px;
  margin-right: 5px;
}

.users-box button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  width: 80px;
  margin-right: 5px;
}
/*
.users-box form button:hover {
  background-color: lightgrey;
  cursor: pointer;
  border: darkgrey solid 1px;
}

.users-box form button:active {
  background-color: rgb(100, 100, 100);
  cursor: pointer;
  border: darkgrey solid 1px;
  box-shadow: 2px;
} */

.invalid-user {
  font-size: 20px;
  /* font-family: "Noto Sans", sans-serif; */
  margin: 0px;
  color: red;
}

.login-message {
  font-size: 18px;
  /* font-family: "Noto Sans", sans-serif; */
  font-style: italic;
  margin: 0px;
}
